.idea/
.vscode/
.DS_Store/
src/**/__pycache__/
*.py[cod]

scripts/*.sh
!scripts/*.sh.default
!scripts/MailCollect/*

src/config/*.ini
src/config/*.json
!src/config/*.ini.default
!src/config/*.json.default

src/config/forms/*.json
!src/config/forms/*.json.default

data/log/*
data/error/*
data/exported_pdf/*
data/exported_pdfa/*
data/ia/doctype_entity/*
data/MailCollect/*
data/pdf/*
data/tmp/*