<?xml version="1.0" encoding="utf-8"?>
<root>
	<CONFIG>
		<name>attachments</name>
		<comment>_ATTACHMENTS_COMMENT</comment>
		<file_prefix>attach</file_prefix>
		<convertPdf>false</convertPdf> <!-- true = convert with applet, false = convert server-side -->
		<vbs_convert_path/> <!-- Path to VBS file if necessary. ex: C:\Program Files (x86)\Outils SPM\DOC2PDF_VBS.vbs . Default : %HOME_DIR%\maarchTmp\DOC2PDF_VBS.vbs -->
		<useExeConvert>false</useExeConvert>
		<loaded>true</loaded>
		<watermark>
			<enabled>false</enabled> <!-- If true, a watermark is applied on the document /!\ WARNING /!\ BUG WITH SIGNATUREBOOK IF TRUE -->
			<text>Copie conforme de [identifier] au statut [status] le [date_now] [hour_now]</text> <!-- text with fusion fields [column_name] or [date_now], ex : [identifier] with status [status] the [date_now] [hour_now]-->
			<position>30,35,0,0.5</position> <!-- Setup position with X, Y, angle, opacity ; ex : 50,450,30,0.5 -->
			<font>helvetica,10</font> <!-- Setup the font name and her size, ex: helvetica,10 -->
			<text_color>20,192,30</text_color> <!-- Setup the color of the text, ex: 192,192,192 -->
		</watermark>
	</CONFIG>
	<TABLENAME>
		<attach_res_attachments>res_attachments</attach_res_attachments>
	</TABLENAME>
	<!-- NCH01 -->
	<RECONCILIATION>
		<CONFIG>
			<name>reconciliation</name>
			<comment>_RECONCILIATION_COMMENT</comment>
			<multiple_res_id>true</multiple_res_id> <!-- Setting allowing, or not, the reconciliation of an attachment to multiple documents -->
			<attach_to_empty>true</attach_to_empty> <!-- Setting allowing, or not, the reconciliation of an attachment to a document without response project -->
			<delete_response_project>true</delete_response_project> <!-- Setting allowing, or not, the automatic deletion of the response project, thanks to his chrono number -->
			<close_incoming>true</close_incoming> <!-- Setting allowing, or not, the possibility to close the incoming document, with a radio button-->
		</CONFIG>
	</RECONCILIATION>
	<!-- END NCH01 -->
	<HISTORY>
		<attachadd>true</attachadd>
		<attachup>true</attachup>
		<attachdel>true</attachdel>
		<attachview>true</attachview>
	</HISTORY>
</root>
