bs4==0.0.2
msal==1.33.0
pypdf==6.0.0
flask==3.1.1
pyzbar==0.1.9
holidays==0.78
kuyruk==10.1.1
thefuzz==0.22.1
requests==2.32.4
tnefparse==1.4.0
pdf2image==1.17.0
fs-watcher==1.0.11
imap-tools==1.11.0
exchangelib==5.5.1
pytesseract==0.3.13
configparser==7.2.0
transformers==4.55.0
qwen-vl-utils==0.0.11
opencv-python==4.12.0.88
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0
torchvision==0.23.0
