bs4
msal
pypdf
flask
kuyruk
pyzbar
thefuzz
holidays
requests
pdf2image
tnefparse
fs-watcher
imap-tools
pytesseract
exchangelib
transformers
configparser
opencv-python
--extra-index-url https://download.pytorch.org/whl/cpu
torch
